.hero__img-container {
  width: 100%;
  height: 700px;
  background-image: url("../assets/home.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero__text-container {
  display: none;
}
