.team__div-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team__member-images-container1,
.team__member-images-container2 {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.team__member-images-container1 {
  justify-content: space-between;
}

.team__member-images-container2 {
  height: 70%;
}

.team__member-container {
  max-width: 750px;
  max-width: 720px;
}

.team__member-image {
  width: 100%;
}

.team__info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

@media screen and (min-width: $md) {
  .team__div-container {
    flex-direction: row;
    max-height: 2500px;
  }

  .team__member-images-container1,
  .team__member-images-container2 {
    width: 48%;
  }
}
