@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body,
button,
textarea {
  font-family: "Roboto", sans-serif;
  color: $purple;
}

li {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  margin-right: 30px;
}

h1 {
  margin: 200px 0 0.5em;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: -0.03em;
}

.hero__text,
.contact__input,
.container__button,
textarea,
.team__info {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (min-width: $md) {
  h1 {
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -0.05em;
  }

  .hero__text,
  .contact__input,
  .container__button,
  textarea,
  .team__info {
    font-size: 1.45em;
    line-height: 28px;
  }
}

@media screen and (min-width: $lg) {
  h1 {
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.05em;
  }

  .hero__text,
  .contact__input,
  .container__button,
  textarea,
  .team__info {
    font-size: 1.6em;
    line-height: 30px;
    letter-spacing: -0.025em;
  }
}
